.btn {
	padding: var(--input-padding);
	border-radius: var(--border-radius);
	border: none;
	text-decoration: none;
	line-height: 1;
}

.btn-w-fill {
	width: 100%;
}

.btn-big {
	padding: 20px;
}

.btn-small {
	padding: var(--s-0) var(--s-1);
}

.btn:hover {
	cursor: pointer;
}

.btn-primary {
	background-color: var(--btn-bg-primary);
	color: var(--btn-text-primary);
}

.btn-primary:hover {
	background-color: var(--btn-bg-primary-hover);
}

.btn-secondary {
	background-color: gray;
}

.btn-secondary:hover {
	background-color: black;
}

.btn-tertiary {
	color: black;
	background-color: lightgrey;
}

.btn-tertiary:hover {
	color: black;
	background-color: gray;
}

.btn[disabled] {
	background-color: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.2);
}

.btn-shadow {
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
