:root {
	--text-small: 14px;
	--text-small-lh: 16px;
	--text-normal: 16px;
	--text-normal-lh: 20px;

	--item-padding: 8px;
	--container-padding: 2px;
	--border-radius: 0px;

	/* --- Main colors --- */

	--outside-bg: blue;
	--main-bg: white;

	/* Content */

	/* -l : light background */
	--content-primary-l: black;
	--content-secondary-l: rgba(0, 0, 0, 0.6);
	--content-tertiary-l: rgba(0, 0, 0, 0.4);

	/* -d : dark background */
	--content-primary-d: white;
	--content-secondary-d: rgba(255, 255, 255, 0.6);
	--content-tertiary-d: rgba(255, 255, 255, 0.4);

	/* Surfaces */

	/* -l : light background */
	--surface-default-l: transparent;
	--surface-hover-l: rgba(0, 0, 0, 0.3);

	/* -d : dark background */
	--surface-default-d: transparent;
	--surface-hover-d: rgba(255, 255, 255, 0.3);

	/* --- Spacing --- */
	--s-0: 4px;
	--s-1: 8px;
	--s-2: 16px;
	--s-3: 24px;
	--s-4: 32px;
	--s-5: 40px;
	--s-6: 48px;

	/* Button */
	--btn-text-primary: black;
	--btn-bg-primary: gold;
	--btn-bg-primary-hover: orange;
	--btn-border: none; /* Only stroke and color */

	/* Inputs */
	--input-border: none;
	--input-text: black;
	--input-bg: rgba(0, 0, 0, 0.1);
	--input-bg-hover: rgba(0, 0, 0, 0.2);
	--input-border: none;
	--input-border-focus: solid blue;
	--input-border-width: 0;
	--input-border-width-focus: 2px;
	--input-padding: 12px;

	/* Link */
	--a-text: blue;
	--a-padding: 0 1px;
	--a-border-radius: 0;
	--a-border: none;
	--a-decoration: none;
	--a-decoration-hover: none;
	--a-background-hover: blue;
	--a-text-hover: white;

	/* Main navbar */
	--nav-main-bg: black;
	--nav-main-item-bg: rgba(255, 255, 255, 0.2);
	--nav-main-item-text: white;
	--nav-main-item-hover: rgba(255, 255, 255, 0.4);
	--nav-main-item-bg-active: white;
	--nav-main-item-text-active: black;

	/* Form error */
	--alert-color: red;

	/* --nav
	--nav-item-text-light: black;
	--nav-item-text-dark: white;
	--nav-item-background-light: transparent;
	--nav-item-background-dark: transparent;
	--nav-item-hover-light: rgba(0, 0, 0, 0.1);
	--nav-item-hover-dark: ;
	--nav-item-active-light: black;
	--nav-item-active-dark: white; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Arial, sans-serif;
	font-size: var(--text-normal);
	line-height: var(--text-normal-lh);
}

p,
h1,
h2,
h3 {
	color: var(--content-primary-l);
}

a {
	color: var(--a-text);
	padding: var(--a-padding);
	border-radius: var(--a-border-radius);
	border: var(--a-border);
	text-decoration: var(--a-decoration);
}

a:hover {
	text-decoration: var(--a-decoration-hover);
	background-color: var(--a-background-hover);
	color: var(--a-text-hover);
}

h1 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 600;
}

h2 {
	font-size: 22px;
	line-height: 24px;
	font-weight: 600;
}

input {
	border: var(--input-border);
	border-radius: var(--border-radius);
	color: var(--input-text);
	background-color: var(--input-bg);
	padding: var(--input-padding);
}

input:hover {
	background-color: var(--input-bg-hover);
	/* cursor: pointer; */
}

input:focus,
input:active {
	outline: var(--input-border-width-focus) var(--input-border-focus);
	/* border: var(--input-border-focus);
	border-width: var(--input-border-width-focus);
	padding: calc(var(--item-padding) - var(--input-border-width-focus)); */
}

input.error {
	outline: var(--input-border-width-focus) solid var(--alert-color);
}

input:focus:hover,
input:active:hover {
	background-color: var(--input-bg);
}

small {
	font-size: var(--text-small);
	line-height: var(--text-small-lh);
}

.primary {
	color: var(--content-primary-l);
}

.secondary {
	color: var(--content-secondary-l);
}

.tertiary {
	color: var(--content-tertiary-l);
}

/* Color for icons */

.fieldLabelIcon {
	fill: var(--content-secondary-l);
}

.fieldErrorIcon {
	fill: var(--alert-color);
}

.iconPrimary-l {
	fill: var(--content-primary-l);
}

.iconPrimary-d {
	fill: var(--content-primary-d);
}

/*  */

.container {
	padding: var(--s-3);
}

.space-between > * + * {
	margin-top: var(--s-2);
}

/*  */

.backlink {
	display: inline-block;
	margin-bottom: var(--s-3);
}

.backlink::before {
	content: '\2190\0020';
}

/* Callout */

.callout {
	padding: var(--s-2);
	background-color: #fff7cc;
	border-left: 4px solid #ffe033;
}

/* Lists */

li {
	margin-top: var(--s-1);
	margin-left: 1em;
}
