:root {
	--text-small: 14px;
	--text-small-lh: 16px;
	--text-normal: 16px;
	--text-normal-lh: 20px;

	--item-padding: 8px;
	--container-padding: 2px;
	--border-radius: 0px;

	/* Main colors */
	--outside-bg: blue;
	--main-bg: white;

	--content-primary: black;
	--content-secondary: rgba(0, 0, 0, 0.6);
	--content-tertiary: rgba(0, 0, 0, 0.4);

	/* Spacing */
	--s-0: 4px;
	--s-1: 8px;
	--s-2: 16px;
	--s-25: 24px;
	--s-3: 32px;
	--s-35: 40px;
	--s-4: 48px;

	/* Button */
	--btn-text-primary: black;
	--btn-bg-primary: gold;
	--btn-bg-primary-hover: orange;
	--btn-border: none; /* Only stroke and color */

	/* Inputs */
	--input-border: none;
	--input-text: black;
	--input-bg: rgba(0, 0, 0, 0.1);
	--input-bg-hover: rgba(0, 0, 0, 0.2);
	--input-border: none;
	--input-border-focus: solid blue;
	--input-border-width: 0;
	--input-border-width-focus: 2px;

	/* Link */
	--a-text: blue;
	--a-padding: 0 1px;
	--a-border-radius: 0;
	--a-border: none;
	--a-decoration: none;
	--a-decoration-hover: none;
	--a-background-hover: blue;
	--a-text-hover: white;

	/* Main navbar */
	--nav-main-bg: black;
	--nav-main-item-bg: transparent;
	--nav-main-item-text: white;
	--nav-main-item-hover: rgba(255, 255, 255, 0.3);
	--nav-main-item-bg-active: white;
	--nav-main-item-text-active: black;

	/* Form error */
	--alert-color: red;

	/* --nav
	--nav-item-text-light: black;
	--nav-item-text-dark: white;
	--nav-item-background-light: transparent;
	--nav-item-background-dark: transparent;
	--nav-item-hover-light: rgba(0, 0, 0, 0.1);
	--nav-item-hover-dark: ;
	--nav-item-active-light: black;
	--nav-item-active-dark: white; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Arial, sans-serif;
	font-size: var(--text-normal);
	line-height: var(--text-normal-lh);
}

html,
body,
#svelte {
	height: 100%;
}

p,
h1,
h2,
h3 {
	color: var(--content-primary);
}

a {
	color: var(--a-text);
	padding: var(--a-padding);
	border-radius: var(--a-border-radius);
	border: var(--a-border);
	text-decoration: var(--a-decoration);
}

a:hover {
	text-decoration: var(--a-decoration-hover);
	background-color: var(--a-background-hover);
	color: var(--a-text-hover);
}

h1 {
	font-size: 32px;
	line-height: 36px;
	font-weight: 600;
}

input {
	border: var(--input-border);
	border-radius: var(--border-radius);
	color: var(--input-text);
	background-color: var(--input-bg);
	padding: var(--item-padding);
}

input:hover {
	background-color: var(--input-bg-hover);
	/* cursor: pointer; */
}

input:focus,
input:active {
	outline: var(--input-border-width-focus) var(--input-border-focus);
	/* border: var(--input-border-focus);
	border-width: var(--input-border-width-focus);
	padding: calc(var(--item-padding) - var(--input-border-width-focus)); */
}

input.error {
	outline: var(--input-border-width-focus) solid var(--alert-color);
}

input:focus:hover,
input:active:hover {
	background-color: var(--input-bg);
}

small {
	font-size: var(--text-small);
	line-height: var(--text-small-lh);
}

.primary {
	color: var(--content-primary);
}

.secondary {
	color: var(--content-secondary);
}

.tertiary {
	color: var(--content-tertiary);
}

/* Color for icons */

.fieldLabelIcon {
	fill: var(--content-secondary);
}

.fieldErrorIcon {
	fill: var(--alert-color);
}
